VITE_AWS_REGION=us-east-1
VITE_COGNITO_CLIENT_ID=tkiaaldrn5ktkclqof7s3gdq2
VITE_COGNITO_DEMO_EMAIL=demo@fintwit.com
VITE_COGNITO_DEMO_PASSWORD=FinTwit2026!
VITE_AGENTCORE_RUNTIME_URL=https://bedrock-agentcore.us-east-1.amazonaws.com/runtimes/arn%3Aaws%3Abedrock-agentcore%3Aus-east-1%3A563147762970%3Aruntime%2Ffintwit_rag_dev_agent-tItvBzD8WV/invocations
