VITE_AWS_REGION=us-east-1
VITE_COGNITO_CLIENT_ID=5j8ji8fst5f1hpcln4vpro83mj
VITE_COGNITO_DEMO_EMAIL=demo@fintwit.com
VITE_COGNITO_DEMO_PASSWORD=FinTwit2026!
VITE_AGENTCORE_RUNTIME_URL=https://bedrock-agentcore.us-east-1.amazonaws.com/runtimes/arn%3Aaws%3Abedrock-agentcore%3Aus-east-1%3A563147762970%3Aruntime%2Ffintwit_rag_dev_agent-KxtsA0DRJ8/invocations
